body{
	background-color:#232323;
}

#topHeader {
	height: 30%;
	color: rgb(255,255,255);
	background-color: rgb(33, 137, 255);
	width: 100%;
	text-align: center;
}

#RGB {
	font-size: 48px;
}

.colorBox{
	width: 30%;
	background: yellow;
	padding-bottom: 10%;
	float:left;
	margin: 1.66%;
}

.container{
	max-width: 700px;
	width:60%;
	margin: 0 auto;
}